{{define "sumMenuIcon"}}
{{- if . -}}
<svg class="sum-menu-icon" aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" focusable="false">
  <use href="/static/img/menu-icons.svg#i-{{.}}"></use>
</svg>
{{- end -}}
{{end}}

{{define "sumHomePinIcon"}}
<svg class="sum-home-pin-icon" width="16" height="16" viewBox="0 0 24 24" aria-hidden="true">
  <path class="sum-home-pin-icon-outline" d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round"/>
  <path class="sum-home-pin-icon-fill" d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" fill="currentColor" stroke="none"/>
</svg>
{{end}}

{{define "sumHomeAppIcon"}}
<div class="sum-home-hub-app-icon sum-home-hub-app-icon--image" aria-hidden="true">
<img class="sum-home-hub-app-img" src="{{if .IconURL}}{{.IconURL}}{{else}}/static/img/projectmeru_icon.png{{end}}" alt="" width="76" height="76" />
</div>
{{end}}
