<?xml version="1.0" encoding="utf-8"?>
<sumeru>
    <data>
        <!-- Window Action -->
        <record id="action_{{.Name}}" model="sys.action.window">
            <field name="name">{{.HumanTitle}}</field>
            <field name="core_model">{{.ModelDotted}}</field>
            <field name="view_mode">list,form,kanban</field>
            <field name="help" type="html">
                <p class="sum-view-nocontent-smiling-face">
                    Create your first {{.HumanTitle}}!
                </p>
            </field>
        </record>
    </data>
</sumeru>
