<?xml version="1.0" encoding="utf-8"?>
<sumeru>
    <data>
        <record id="view_{{.Name}}_kanban" model="sys.view">
            <field name="name">{{.Name}}.kanban</field>
            <field name="model">{{.ModelDotted}}</field>
            <field name="arch" type="xml">
                <kanban>
                    <field name="name"/>
                    <templates>
                        <t t-name="kanban-box">
                            <div class="oe_kanban_global_click">
                                <div class="oe_kanban_details">
                                    <strong class="o_kanban_record_title">
                                        <field name="name"/>
                                    </strong>
                                    <div>
                                        <field name="description"/>
                                    </div>
                                </div>
                            </div>
                        </t>
                    </templates>
                </kanban>
            </field>
        </record>
    </data>
</sumeru>
