<?xml version="1.0" encoding="utf-8"?>
<sumeru>
    <data>
        <view id="view_{{.Name}}_list" model="{{.ModelDotted}}" type="list">
            <field name="sequence" widget="handle"/>
            <field name="name"/>
            <field name="active" widget="boolean_toggle"/>
        </view>
    </data>
</sumeru>
