id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
access_{{.Name}}_user,{{.Name}}.user,{{.ModelDotted}},group_{{.Name}}_user,1,0,0,0
access_{{.Name}}_manager,{{.Name}}.manager,{{.ModelDotted}},group_{{.Name}}_manager,1,1,1,1
